.responsive-img {
    background-image: image-set("assets/sfondo2.jpg");
    height: 100vh;
}
  
@media (max-width: 880px) {
    .responsive-img {
        background-image: image-set("assets/sfondo2.jpg");
        height: 100vh;
    }
}

.img-container img {
    width: 100%;
}

.btn-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centro esatto */
    display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
    width: 400px;
    height: auto;
    margin-left: 47px;
}
  