.img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: image-set("assets/sfondo2.jpg");
    height: 100vh;
}

h1 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 200px;
    margin-top: 300px;
}

.logo {
    width: 400px;
    height: auto;
    position: relative;
}
  