.prodotto{
    position: relative;
}

.allineamento1{
    width: 30%;
    float: left;
}

.allineamento2{
    width: 70%;
    float: right;
}

.sfondo{
    background-image: image-set("assets/sfondo2.jpg");
    height: 83vh;
}
