.container{
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 60px;
}

.table{
    width: 100%;
}

.testo{
    font-size: 50px;
    font-weight: bold;
    margin-top: 60px;
}