
<div class="container w-100">
    <div *ngIf="prodotto != undefined" class="d-flex flex-wrap justify-content-around">
      <div class="card w-50">
          <a [routerLink]="'/home/prodotto/' +  prodotto.Id"><img class="card-img-top" [src]=" 'assets/'+ prodotto.Immagine " alt="immagine libro"></a>
          <div class="card-body">
              <h3 class="card-title">{{prodotto.Descrizione}}</h3>
              <h3 class="card-text">{{prodotto.Prezzo}}€</h3>
          </div>
      </div>
    </div>
</div>

<div class="container w-100"*ngIf="prodotto?.Categoria == 'Panini'">
  <div class="container w-100">
    <table class="table tabella align-middle text-center">
      <thead>
        <tr>
          <th scope="col">Ingrediente</th>
          <th scope="col">Quantita</th>
          <th scope="col">Aumenta</th>
          <th scope="col" >Diminuisci</th>
          <th scope="col">Prezzo</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let ingrediente of prodotto?.Ingredienti">
          <td scope="row">{{ingrediente.Descrizione}}</td>
          <td>{{ingrediente.Quantita}}</td>
          <td><button type="button" class="btn btn-outline-success simboli" (click)="aggiungiIngrediente(ingrediente)">+</button></td>
          <td><button type="button" class="btn btn-outline-danger simboli" (click)="diminuisciIngrediente(ingrediente)">-</button></td>
          <td align="center">{{ingrediente.IncrementoPrezzo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container w-100 aggiungiCarrello">
  <button type="button" class="btn btn-warning buttonB"(click)="aggiungiAlCarrello(prodotto)">Aggiungi Al Carrello</button>
</div>