<div class="sidebar">
    <div class="card categoria">
        <a [routerLink]="'/home/Panini'"><img src="assets/Panini.png" alt="Panini" class="immagine"></a>
        <div class="card-body">
            <h3 class="testo">Panini</h3>
        </div>
    </div>

    <div class="card categoria">
        <a [routerLink]="'/home/Contorni'"><img src="assets/Contorni.png" alt="Contorni" class="immagine"></a>
        <div class="card-body">
            <h3 class="testo">Contorni</h3>
        </div>
    </div>

    <div class="card categoria">
        <a [routerLink]="'/home/Bevande'"><img src="assets/Bibite.png" alt="Bibite" class="immagine"></a>
        <div class="card-body">       
            <h3 class="testo">Bibite</h3>
        </div>
    </div>
        
    <div class="card categoria">
        <a [routerLink]="'/home/Caffè e Dolci'"><img src="assets/DolciECaffe.png" alt="Dolci & Caffe" class="immagine"></a>
        <div class="card-body ">
            <h3 class="testo">Dolci/Caffe</h3>
        </div>
    </div>
</div>
