.container{
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 40px;
}

.testo{
    display: flex;
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
    justify-content: center;
}

.bordo{
    border-color: black;
    padding: 10px;
}