<app-header></app-header>

<table class="table tabella align-middle text-center">
    <thead>
        <tr>
            <th>Prodotto</th>
            <th>Prezzo</th>
            <th>Quantità</th>
            <th>Gestione</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prodotto of carrello">
            <td>{{prodotto.Descrizione}}<br><!--{{prodotto.modifiche}}  --></td>
            <td>{{carrelloService.getimportoProdotto(prodotto)}}</td>
            <td>
              <button type="button" class="btn btn-outline-success simbolo" (click)="aggiungiQuantita(prodotto)">+</button>
              {{prodotto.Quantita}}
              <button type="button" class="btn btn-outline-danger simbolo" (click)="diminuisciQuantita(prodotto)" (click)="diminuisci_elimia(prodotto)">-</button>
            </td>
            <td><a class="text-danger" (click)="elimina(prodotto)">Elimina</a></td>
        </tr>
    </tbody>
    <tfoot>
      <tr>
          <td>Totale Prodotti: </td>
          <td>{{carrelloService.totaleProdotti}}</td>
          <td>Totale Importo: </td>
          <td>{{carrelloService.totaleImporto | currency:'EUR'}}</td>
      </tr>
  </tfoot>
</table>

<div class="sfondo">
  <div class="container" *ngIf="carrelloService.totaleImporto!=0">
    <button class="bottone"  [routerLink]="'/end'" onclick="">
    <div class="left-side">
      <div class="card">
        <div class="card-line"></div>
        <div class="buttons"></div>
      </div>
      <div class="post">
        <div class="post-line"></div>
        <div class="screen">
          <div class="dollar">$</div>
        </div>
        <div class="numbers"></div>
        <div class="numbers-line2"></div>
      </div>
    </div>
    <div class="right-side">
      <div class="new" align="center">Paga Ora</div>
    </div>
    </button>
</div>
</div>

