
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: white;
    font-weight: bold;
    font-size: 70px;
}

.titolo{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.container{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center;
}

.text-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
    border-radius: 40px;
}

.immagine{
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
}

.cartella {
    position: relative;
    display: inline-block;
    width: 400px;
    margin-top: 150px;
}

.cartella:hover .immagine {
    opacity: 0.3;
}

.cartella:hover .text-hover {
    opacity: 1;
}

.sfondo{
    background-image: image-set("assets/sfondo2.jpg");
    height: 76vh;
}

.sfondo2{
    background-image: image-set("assets/sfondo3.jpg");
}


