<nav class="navbar navbar-expand-lg bg-body-tertiary tutto">
    <div class="container-fluid">
      <a  href="#"><img class="logo" src="assets/logo-FastFood.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="titolo">
        <h1>FastBite</h1>
      </div>
      <div class="collapse navbar-collapse home" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active " aria-current="page" href="#" ><p class="testo">Torna alla Home</p></a>
        </div>
      </div>
    </div>
</nav>

<h1 align="center" class="info">Informazioni su di noi:</h1>

<div class="bigContainer">
    <div class="container">
        <div class="cartella">
            <img class="immagine" src="assets/Panini.png" alt="Marco Marongiu" class="immagine">
            <div class="text-hover">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, necessitatibus magni voluptas quia nostrum ea obcaecati laudantium vitae vel eius modi dolorum perferendis atque voluptatem suscipit iusto tenetur incidunt consequuntur!</div>
            <h2 align="center">Francesco Agarri</h2>
        </div>
        
        <div class="cartella">
            <img class="immagine" src="assets/Panini.png" alt="Marco Marongiu" class="immagine">
            <div class="text-hover">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, necessitatibus magni voluptas quia nostrum ea obcaecati laudantium vitae vel eius modi dolorum perferendis atque voluptatem suscipit iusto tenetur incidunt consequuntur!</div>
            <h2 align="center">Giulio Signoretti</h2>
        </div>
    </div>
    
    <div class="container">
        <div class="cartella">
            <img class="immagine" src="assets/Panini.png" alt="Marco Marongiu" class="immagine">
            <div class="text-hover">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, necessitatibus magni voluptas quia nostrum ea obcaecati laudantium vitae vel eius modi dolorum perferendis atque voluptatem suscipit iusto tenetur incidunt consequuntur!</div>
            <h2 align="center">Diego Succi</h2>
        </div>
        
        <div class="cartella">
            <img class="immagine" src="assets/Panini.png" alt="Marco Marongiu" class="immagine">
            <div class="text-hover">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, necessitatibus magni voluptas quia nostrum ea obcaecati laudantium vitae vel eius modi dolorum perferendis atque voluptatem suscipit iusto tenetur incidunt consequuntur!</div>
            <h2 align="center">Marco Marongiu</h2>
        </div>
    </div>
</div>



