<app-header></app-header>

<h1 align="center" class="info sfondo2">Informazioni su di noi:</h1>

<div class="sfondo ">

  <div class="bigContainer">
      <div class="container">
          <div class="cartella">
              <img class="immagine" src="assets/aga.png" alt="Marco Marongiu" class="immagine">
              <div class="text-hover"><p align="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, necessitatibus magni voluptas quia nostrum ea obcaecati laudantium vitae vel eius modi dolorum perferendis atque voluptatem suscipit iusto tenetur incidunt consequuntur!</p></div>
              <h2 align="center">Francesco Agarri</h2>
          </div>
          
          <div class="cartella">
              <img class="immagine" src="assets/Panini.png" alt="Marco Marongiu" class="immagine">
              <div class="text-hover"><p align="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, necessitatibus magni voluptas quia nostrum ea obcaecati laudantium vitae vel eius modi dolorum perferendis atque voluptatem suscipit iusto tenetur incidunt consequuntur!</p></div>
              <h2 align="center">Giulio Signoretti</h2>
          </div>
      </div>
      
      <div class="container">
          <div class="cartella">
              <img class="immagine" src="assets/succo.png" alt="Marco Marongiu" class="immagine">
              <div class="text-hover"><p align="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, necessitatibus magni voluptas quia nostrum ea obcaecati laudantium vitae vel eius modi dolorum perferendis atque voluptatem suscipit iusto tenetur incidunt consequuntur!</p></div>
              <h2 align="center">Diego Succi</h2>
          </div>
          
          <div class="cartella">
              <img class="immagine" src="assets/marko.png" alt="Marco Marongiu" class="immagine">
              <div class="text-hover"><p align="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, necessitatibus magni voluptas quia nostrum ea obcaecati laudantium vitae vel eius modi dolorum perferendis atque voluptatem suscipit iusto tenetur incidunt consequuntur!</p></div>
              <h2 align="center">Marco Marongiu</h2>
          </div>
      </div>
  </div>
</div>




